@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  width: 1200px;
}

header {
  width: 100%;
  height: 100px;
  background-color: #07c;
}
/* 로고 */
#logo {
  float: left; /* 왼쪽으로 정렬 */
  width: 250px;
  height: 100px;
  line-height: 100px; /* height값에 맞추어 수직 가운데 정렬 */
  padding-left: 20px;
}

#logo h1 {
  font-family: "Merienda", cursive;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 -1px 0 #222;
}

a {
  text-decoration: none;
}

/* 네비게이션 */
nav {
  float: right;
  width: 900px;
  height: 100px;
}

ul {
  list-style: none;
}

#topmenu {
  height: 60px;
}

#topmenu > li {
  float: left;
  position: relative; /* 서브 메뉴를 absolute로 만들기 위해 부모요소 relative로 지정 */
}

#topmenu > li > a {
  display: block; /* a태그를 블록 요소로 변환 */
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px #07c;
  padding: 40px 60px;
}

#topmenu > li > a > span {
  font-size: 0.5em; /* 서브메뉴가 있는 항목에 화살표 표시 */
}

#topmenu > li > a:hover {
  color: #000;
  text-shadow: 0 -1px #07c; /* 글자가 굵어지지 않도록 */
}

#topmenu > li > ul {
  display: none; /* 서브메뉴 숨김 */
  position: absolute; /* 절대 위치 */
  width: 160px;
  left: 20px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.6); /* 배경 투명색 */
}

#topmenu li > ul > li {
  padding: 10px 10px 10px 30px;
}

#topmenu li > ul > li > a {
  font-size: 14px;
  padding: 10px;
  color: #000;
}

#topmenu li:hover > ul {
  display: block; /* 메인 항목 위로 오버시 서브 표시 */
  z-index: 10; /* 슬라이드쇼에 가려지지 않게 조절 */
}

#topmenu li > ul > li > a:hover {
  color: #f00;
}

/* 슬라이드쇼 */
#slideshow {
  clear: both; /* float 해제 */
  width: 100%;
  height: 300px;
  overflow: hidden; /* 영역 넘치면 감춤춤 */
  position: relative;
}

#slides {
  position: absolute;
}

#slides > img {
  width: 100%;
  float: left;
}

#contents {
  width: 100%;
  height: 300px;
}

#tabmenu {
  float: left; /* 왼쪽으로 정렬 */
  width: 600px;
  height: 100%;
  background-color: violet;
}

#links {
  float: right; /* 오른쪽으로 정렬 */
  width: 600px;
  height: 100%;
  background-color: skyblue;
}

footer {
  width: 100%;
  height: 100px;
  background-color: gray;
}
